{% extends "../template.html" %}

{% block content %}
<div class="form-box">
    <h2>{{title}}</h2>
    
    <a class="btn btn-primary" href="/unidades/registrar"><span class="glyphicon glyphicon-plus"></span> Registrar unidad</a>
    <br><br>
    <table class="table table-bordered">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="cell-actions">
                <div class="btn-group">
                    <a class="btn btn-xs btn-warning" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-xs btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
