{% extends "../template.html" %}

{% block content %}
<div class="form-box">
    <h2>{{title}}</h2>
    
    <a class="btn btn-primary" href="/unidades/registrar"><span class="glyphicon glyphicon-plus"></span> Registrar unidad</a>
    <br><br>
    <table class="table table-bordered">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
        {% for unidad in unidades %}
        <tr>
            <td>{{unidad.id}}</td>
            <td>{{unidad.nombre}}</td>
            <td class="cell-actions">
                <div class="btn-group">
                    <a class="btn btn-xs btn-warning" href="/unidades/editar/{{unidad.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-xs btn-danger" href="/unidades/eliminar/{{unidad.id}}"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
