<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">

    <style>
        .navbar-top-links {
            margin-right: 5px;
        }
        .navbar-top-links li a img {
            height: 30px;
        }
    </style>

    <!-- jQuery & Bootstrap  -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/unidades">Unidades</a></li>
                <li><a href="/categorias">Categor&iacute;as</a></li>
                <li><a href="/productos">Productos</a></li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
                        <span class="text-muted">admin@domain.com</span>
                        <img src="img/profile_small.jpg" class="img-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a></li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>