<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">

    <!-- jQuery & Bootstrap  -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/unidades">Unidades</a></li>
                <li><a href="/categorias">Categor&iacute;as</a></li>
                <li><a href="/productos">Productos</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>